{% extends 'base.html.twig' %}

{% block title %} Ajout de {{event.name}} - {{parent()}}{% endblock %}

{% block body %}


<div>
    <h1 class="text-success">Succès</h1>

   <h1>L'évenement {{event.name}} a été créer et possède l'id <span class="text-primary">{{event.id}}</span></h1>

</div>
{% endblock %}