{% extends 'base.html.twig' %}


{% block title %}Accueil - {{parent()}} {% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>





<h1>Beertime</h1>

    <div>

    Je n'est pas d'imagination alors pour le texte de présentation je fais du Lorem Ipsum Tumore inter nostris conpulit Philadelphiam saepe Arabia
    tumore saltus Arabia castellis nostris Parthos saltus vicinarum nostris hanc castellis cautissimas 
    et et conserta et Bostram contigua contigua oportunos Gerasam ad conmerciorum gentium per urgeret imperator
    adtributo glorioso inposito Mediam per glorioso sollicitudo rectoreque obtemperare oppleta validis atque urgeret
    Parthos legibus provinciae.

    </div>

{% endblock %}
